/*Panel tabs*/
      .panel-tabs {
          position: relative;
          bottom: 30px;
          clear:both;
          border-bottom: 1px solid transparent;
      }

      .panel-tabs > li {
          float: left;
          margin-bottom: -1px;
      }

      .panel-tabs > li > a {
          margin-right: 2px;
          margin-top: 4px;
          line-height: .85;
          border: 1px solid transparent;
          border-radius: 4px 4px 0 0;
          color: #76838f;
      }

      .panel-tabs > li > a:hover {
          border-color: transparent;
          color: #76838f;
          background-color: #fcfeff;
      }

      .panel-tabs > li.active > a,
      .panel-tabs > li.active > a:hover,
      .panel-tabs > li.active > a:focus {
          color: #76838f;
          cursor: default;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          background-color: #fcfeff;
          border-color: #e4eaec;
          border-bottom-color: #fff;
      }