#dataTable_paginate .pagination li {
  display: none;
}
#dataTable_paginate .pagination li.previous, #dataTable_paginate .pagination li.next
{
  display: inline;
}
#dataTable_paginate .pagination{
  padding-left: 8px;
}
#dataTable_previous a{
  padding-left: 15px;
}
#dataTable_next a{
  padding-right: 15px;
}

#dataTable thead th.sorting_asc:after {
  content: 'x';
  margin-top: 7px;
  border: 1px solid #eee;
  padding: 3px 6px;
  border-radius: 50px;
  z-index: 99;
  color: #22a7f0;
  background: #fff; 
  box-shadow: 1px 2px 5px -1px #337ab785;
}
#dataTable thead th.sorting_desc:after {
  content: 'y';
  margin-top: 7px;
  border: 1px solid #eee;
  padding: 3px 6px;
  border-radius: 50px;
  z-index: 99;
  color: #22a7f0;
  background: #fff; 
  box-shadow: 1px 2px 5px -1px #337ab785;
}
.filter-dataTable{
  margin: 5px 0px;
  box-shadow: 2px 3px 5px -3px #33333387;
  background: #e4eaeca6;
}
#dataTable thead tr th{
  padding: 0px;
}
#dataTable thead {
  display:table;
  width:100%;
  table-layout:fixed;
}
#dataTable tbody {
  display:block;
  max-height:300px;
  overflow-y:auto;
}
