.or-search-form {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  /*width: 32px;*/
  height: 36px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.or-search-form input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.or-search-form input.form-control::-webkit-input-placeholder {
  display: none;
}
.or-search-form input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.or-search-form input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.or-search-form input.form-control:-ms-input-placeholder {
  display: none;
}
.or-search-form:hover,
.or-search-form.hover {
  width: 100%;
  border-radius: 25px;
}
.or-search-form span.form-control-feedback {
  position: absolute;
  top: 1px;
  right: 3px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
