.quick-link{
  margin-top:8px;
}
.custom-title{
    font-size: 16px;
    padding-left: 60px;
    margin-bottom: -20px;
}
.list-panel>.custom-bordered{
    padding:20px 0px 0px 0px;
}
.custom-bordered>.panel-heading{
  padding: 0px 5px
}
.panel-bordered>.panel-heading>.panel-title {
  padding-top: 5px;
  padding-bottom: 30px;
}
#dataTable-length {
  padding: 3px;
  border-radius: 15px;
  border-color: #e4eaec;
}
.panel-heading>.accordian-icon {
  margin-top: -35px;padding-right: 0px;
}

/*.select2-container {
  margin-top: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 3px;
  padding: 0 3px;
}
.select2-container .select2-selection--multiple{
  min-height: 28px;
}
.select2-container--default .select2-selection--multiple{
  border-color: #e4eaec;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border-color: #62a8ea;
}
.select2-container--default .select2-search--inline .select2-search__field{
  padding-left: 5px;
  color:#76838f !important;
}*/
.control-label {
  text-decoration: none;
  font-size: 11px;
  color: #3586AE;
  background-color: #edf7fb;
  border: none;
  border-bottom: solid 1px #D8EDF7;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.dataTables_wrapper .row {
     margin-bottom: 0em; 
}
.get-details{
  cursor:pointer;
}
.panel-title{
  margin-right: -5px;
  margin-left: -5px;
}
.row>[class*=col-] {
   margin-bottom: 0px; 
}
.row>[class*=col-sm-12]{
  padding-right: 0px;
  padding-left: 0px;
}
.dataTables_filter{
  display: none;
}
.dataTables_length{
  display: none;
}
.custom-active{
  display:table;
  width:100%;
  table-layout:fixed;
}
.custom-active>tr>td>a{
  color:#337ab7;
}



.accordion-toggle:before {
  content:"\e113";
  font-family: 'Glyphicons Halflings';
  color: #22A7F0;
  float: right;
  margin-top:10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px 8px;
}
.dataTables_wrapper .dataTables_info {
  padding-left: 5px;
}
.dataTables_wrapper .dataTables_paginate {
  padding-right: 5px;
  float: right;
}
.custom-active {
  color: #22A7F0;
}

#task-table-filter {
  height:28px;width:100%;
}
#dataTable thead tr th>.taginput-wrapper {
  margin-top:6px;
  padding: 0px 0px 0.4em 0px;
}
.taginput-wrapper>.custom-filter-header {
  background-color: #f5f5f5;
  padding: 0.3em 0.3em 0.4em 0em;
  color:#555;
}
.taginput-wrapper>.custom-filter-header button {
  padding:0.01em 5px;
}
.taginput-wrapper>.custom-filter-body {
  padding:0.2em 0.4em
}

.error-div {
  z-index:1000;
  position:absolute;
  background-color: #333333d1;
  padding:15px;
  transition: opacity .15s linear;
  color:#fa2a00;    
  width: 96.5%;
  border-radius: 5px;
  display: none;
}
.custom-pagination-previous,.custom-pagination-next {
  border: solid 1px #e4eaec;
  background-color: #fff;
  color: #22a7f0;
  cursor: pointer;
  border-radius: 3px;
}
.custom-pagination-next:hover {
  background-color: #22a7f0;
  color: #fff;
}
.custom-pagination-previous:hover {
  background-color: #22a7f0;
  color: #fff;
}
.custom-pagination-next>center>i {
  font-size:14px;
  font-weight:550;
}
.custom-pagination-next>center {
  padding: 3px;
}
.custom-pagination-previous>center {
  padding: 3px;
}
.custom-pagination-previous>center>i {
  font-size:14px;
  font-weight:550;
}
.disabledbutton {
  pointer-events: none;
  opacity: 0.5;
  cursor: no-drop;
}

