.custom-title{
    font-size: 16px;
    padding-left: 60px;
    margin-bottom: -20px;
}
.custom-bordered>.custom-heading {
    border-bottom: 1px solid #e4eaec;
}
.custom-heading .custom-title{
    font-weight: 500;
    left:-10px;
}
.custom-heading{
    margin-top: -20px;
}
.custom-heading i{
    font-size: 22px;
}
.custom-body{
    left:0px;
}
table.dataTable thead>tr>th {
    padding-left: 10px;
}
table.dataTable tbody td, table.dataTable tbody th {
    padding: 10px 10px;
}
.dataTables_wrapper .row {
     margin-bottom: 0em; 
}
.get-details{
  cursor:pointer;
}
.map-btn{
  padding: 6px 12px;
}
.custom-table-border{
  border-right:1px solid #55708a;
}
.td-bg-color{
  background-color: #f9f9f9;
}
table.dataTable thead>tr>th {
  padding-right: 0px;
}
.panel-bordered>.panel-body {
  padding:5px;
}
.panel-title{
  /*padding-right:15px;*/
  margin-right: -5px;
  margin-left: -5px;
}
.row>[class*=col-] {
   margin-bottom: 0px; 
}
.row>[class*=col-sm-12]{
  padding-right: 0px;
  padding-left: 0px;
}
.dataTables_filter{
  display: none;
}
.dataTables_length{
  display: none;
}
.custom-active{
  display:table;
  width:100%;
  table-layout:fixed;
}
.custom-active>tr>td>a{
  color:#337ab7;
}

.accordion-toggle:before {
  content:"\e113";
  font-family: 'Glyphicons Halflings';
  color: #22A7F0;
  float: right;
  margin-top:10px;
}
/*.collapsed:before {
  content:"\e114";
}*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px 8px;
}
.dataTables_wrapper .dataTables_info {
  padding-left: 5px;
}
.dataTables_wrapper .dataTables_paginate {
  padding-right: 5px;
}
.custom-active {
  color: #22A7F0;
}
